{:document/types [:constitution :law :decree]
 :decree/subtypes [:khk :cbk]
 :decree/id-format {:khk "decree/khk-{number}"
                    :cbk "decree/cbk-{number}"}
 :decree/slug-format {:khk "khk-{number}-{slugified-title}"
                      :cbk "cbk-{number}-{slugified-title}"}

 :documents
 [{:document/id "constitution/1982"
   :document/type :constitution
   :document/number "2709"
   :document/title "Türkiye Cumhuriyeti Anayasası"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2709.pdf"}

  {:document/id "law/5237"
   :document/type :law
   :document/number "5237"
   :document/title "Türk Ceza Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.5237.pdf"}

  {:document/id "law/193"
   :document/type :law
   :document/number "193"
   :document/title "Gelir Vergisi Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.4.193.pdf"}

  {:document/id "law/195"
   :document/type :law
   :document/number "195"
   :document/title "Basın İlan Kurumu Teşkiline Dair Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.4.195.pdf"}

  {:document/id "law/211"
   :document/type :law
   :document/number "211"
   :document/title "Türk Silahlı Kuvvetleri İç Hizmet Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.4.211.pdf"}

  {:document/id "law/213"
   :document/type :law
   :document/number "213"
   :document/title "Vergi Usul Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.4.213.pdf"}

  {:document/id "law/926"
   :document/type :law
   :document/number "926"
   :document/title "Türk Silâhlı Kuvvetleri Personel Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.926.pdf"}

  {:document/id "law/1211"
   :document/type :law
   :document/number "1211"
   :document/title "Türkiye Cumhuriyet Merkez Bankası Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.1211.pdf"}

  {:document/id "law/1219"
   :document/type :law
   :document/number "1219"
   :document/title "Tababet ve Şuabatı San'atlarının Tarzı İcrasına Dair Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.1219.pdf"}

  {:document/id "law/2464"
   :document/type :law
   :document/number "2464"
   :document/title "Belediye Gelirleri Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2464.pdf"}

  {:document/id "law/2577"
   :document/type :law
   :document/number "2577"
   :document/title "İdari Yargılama Usulü Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2577.pdf"}

  {:document/id "law/2886"
   :document/type :law
   :document/number "2886"
   :document/title "Devlet İhale Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2886.pdf"}

  {:document/id "law/2942"
   :document/type :law
   :document/number "2942"
   :document/title "Kamulaştırma Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2942.pdf"}

  {:document/id "law/3039"
   :document/type :law
   :document/number "3039"
   :document/title "Çeltik Ekimi Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.3039.pdf"}

  {:document/id "law/3065"
   :document/type :law
   :document/number "3065"
   :document/title "Katma Değer Vergisi Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.3065.pdf"}

  {:document/id "law/3201"
   :document/type :law
   :document/number "3201"
   :document/title "Emniyet Teşkilat Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.3201.pdf"}

  {:document/id "law/3269"
   :document/type :law
   :document/number "3269"
   :document/title "Uzman Erbaş Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.3269.pdf"}

  {:document/id "law/4250"
   :document/type :law
   :document/number "4250"
   :document/title "İspirto ve İspirtolu İçkiler İnhisarı Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.4250.pdf"}

  {:document/id "law/4283"
   :document/type :law
   :document/number "4283"
   :document/title "Yap-İşlet Modeli ile Elektrik Enerjisi Üretim Tesislerinin Kurulması ve İşletilmesi ile Enerji Satışının Düzenlenmesi Hakkında Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4283.pdf"}

  {:document/id "law/4634"
   :document/type :law
   :document/number "4634"
   :document/title "Şeker Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4634.pdf"}

  {:document/id "law/4652"
   :document/type :law
   :document/number "4652"
   :document/title "Polis Yüksek Öğretim Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4652.pdf"}

  {:document/id "law/4733"
   :document/type :law
   :document/number "4733"
   :document/title "Tütün, Tütün Mamulleri ve Alkol Piyasasının Düzenlenmesine Dair Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4733.pdf"}

  {:document/id "law/4749"
   :document/type :law
   :document/number "4749"
   :document/title "Kamu Finansmanı ve Borç Yönetiminin Düzenlenmesi Hakkında Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4749.pdf"}

  {:document/id "law/4915"
   :document/type :law
   :document/number "4915"
   :document/title "Kara Avcılığı Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4915.pdf"}

  {:document/id "law/5015"
   :document/type :law
   :document/number "5015"
   :document/title "Petrol Piyasası Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.5015.pdf"}

  {:document/id "law/5174"
   :document/type :law
   :document/number "5174"
   :document/title "Türkiye Odalar ve Borsalar Birliği ile Odalar ve Borsalar Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.5174.pdf"}

  {:document/id "law/5403"
   :document/type :law
   :document/number "5403"
   :document/title "Toprak Koruma ve Arazi Kullanımı Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.5403.pdf"}

  {:document/id "law/5659"
   :document/type :law
   :document/number "5659"
   :document/title "Atatürk Orman Çiftliği Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.5659.pdf"}

  {:document/id "law/5996"
   :document/type :law
   :document/number "5996"
   :document/title "Veteriner Hizmetleri, Bitki Sağlığı, Gıda ve Yem Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.5996.pdf"}

  {:document/id "law/6191"
   :document/type :law
   :document/number "6191"
   :document/title "Sözleşmeli Erbaş ve Er Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.6191.pdf"}

  {:document/id "law/6200"
   :document/type :law
   :document/number "6200"
   :document/title "Devlet Su İşleri Genel Müdürlüğünce Yürütülen Hizmetler Hakkında Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.6200.pdf"}

  {:document/id "law/6245"
   :document/type :law
   :document/number "6245"
   :document/title "Harcırah Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.6245.pdf"}

  {:document/id "law/6292"
   :document/type :law
   :document/number "6292"
   :document/title "Orman Köylülerinin Kalkınmalarının Desteklenmesi ve Hazine Adına Orman Sınırları Dışına Çıkarılan Yerlerin Değerlendirilmesi ile Hazineye Ait Tarım Arazilerinin Satışı Hakkında Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.6292.pdf"}

  {:document/id "law/6343"
   :document/type :law
   :document/number "6343"
   :document/title "Veteriner Hekimliği Mesleğinin İcrasına, Türk Veteriner Hekimleri Birliği ile Odalarının Teşekkül Tarzına ve Göreceği İşlere Dair Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.6343.pdf"}

  {:document/id "law/6502"
   :document/type :law
   :document/number "6502"
   :document/title "Tüketicinin Korunması Hakkında Kanun"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.6502.pdf"}

  {:document/id "law/6831"
   :document/type :law
   :document/number "6831"
   :document/title "Orman Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.3.6831.pdf"}

  {:document/id "law/6102"
   :document/type :law
   :document/number "6102"
   :document/title "Türk Ticaret Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.6102.pdf"}

  {:document/id "law/6098"
   :document/type :law
   :document/number "6098"
   :document/title "Türk Borçlar Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.6098.pdf"}

  {:document/id "law/4721"
   :document/type :law
   :document/number "4721"
   :document/title "Türk Medeni Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.4721.pdf"}

  {:document/id "law/2918"
   :document/type :law
   :document/number "2918"
   :document/title "Karayolları Trafik Kanunu"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2918.pdf"}

  {:document/id "decree/khk-703"
   :document/type :decree
   :decree/subtype :khk
   :document/number "703"
   :document/title "Anayasada Yapılan Değişikliklere Uyum Sağlanması Amacıyla Bazı Kanun ve Kanun Hükmünde Kararnamelerde Değişiklik Yapılması Hakkında Kanun Hükmünde Kararname"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/4.5.703.pdf"}

  {:document/id "decree/khk-700"
   :document/type :decree
   :decree/subtype :khk
   :document/number "700"
   :document/title "Anayasada Yapılan Değişikliklere Uyum Sağlanması Amacıyla Bazı Kanun ve Kanun Hükmünde Kararnamelerde Değişiklik Yapılması Hakkında Kanun Hükmünde Kararname"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/4.5.700.pdf"}

  {:document/id "decree/khk-655"
   :document/type :decree
   :decree/subtype :khk
   :document/number "655"
   :document/title "Ulaştırma ve Altyapı Alanına İlişkin Bazı Düzenlemeler Hakkında Kanun Hükmünde Kararname"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/4.5.655.pdf"}

  {:document/id "decree/khk-375"
   :document/type :decree
   :decree/subtype :khk
   :document/number "375"
   :document/title "657 Sayılı Devlet Memurları Kanunu, 926 Sayılı Türk Silahlı Kuvvetleri Personel Kanunu, 2802 Sayılı Hakimler ve Savcılar Kanunu, 2914 Sayılı Yükseköğretim Personel Kanunu, 5434 Sayılı T.C. Emekli Sandığı Kanunu ile Diğer Bazı Kanun ve Kanun Hükmünde Kararnamelerde Değişiklik Yapılması, Devlet Memurları ve Diğer Kamu Görevlilerine Memuriyet Taban Aylığı ve Kıdem Aylığı ile Ek Tazminat Ödenmesi Hakkında Kanun Hükmünde Kararname"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/4.5.375.pdf"}

  {:document/id "decree/cbk-177"
   :document/type :decree
   :decree/subtype :cbk
   :document/number "177"
   :document/title "Siber Güvenlik Başkanlığı Hakkında Cumhurbaşkanlığı Kararnamesi"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/19.5.177.pdf"}

  {:document/id "decree/cbk-172"
   :document/type :decree
   :decree/subtype :cbk
   :document/number "172"
   :document/title "Nüfus Politikaları Kurulu Hakkında Cumhurbaşkanlığı Kararnamesi"
   :source/id :mevzuat-gov-tr
   :source/url "https://www.mevzuat.gov.tr/MevzuatMetin/19.5.172.pdf"}]}
